

/* --------------------------------
/*   3. Main Components
-------------------------------- */

.page-container {
  height:100vh;
  width:100vw;
  position:relative;
  overflow-x:hidden;
  -webkit-overflow-scrolling:touch
}

.page-container::before {
  content:'mobile';
  display:none
}

.page-container .single-page {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:25%;
  overflow:hidden;
  cursor:pointer;
  -webkit-transition: -webkit-transform .4s;
  -moz-transition: -moz-transform .4s;
  -ms-transition: -moz-transform .4s;
  -o-transition: -moz-transform .4s;
  transition: transform .4s;
/* on mobile -  move items outside the viewport */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%)
}

.page-container .single-page::after {
/* background image */
  content:'';
  position:absolute;
  top:0;
  left:0;
  height:25vh;
  width:100%;
  background-image:url("../img/img-1-small.png");
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
  -webkit-transition: opacity 0.5s,height .4s;
  -moz-transition: opacity 0.5s,height .4s;
  -ms-transition: opacity 0.5s,height .4s;
  -o-transition: opacity 0.5s,height .4s;
  transition: opacity 0.5s,height .4s
}

.page-container .single-page::before {
/* never visible - this is used in jQuery to detect if the background image has been loaded  */
  content:'img/img-1-small.png';
  display:none
}

.page-container .single-page:nth-of-type(2) {
  top:25vh
}

.page-container .single-page:nth-of-type(2)::after {
  background-image:url("../img/img-2-small.jpg")
}

.page-container .single-page:nth-of-type(2)::before {
  content:'img/img-2-small.jpg'
}

.page-container .single-page:nth-of-type(3) {
  top:50vh
}

.page-container .single-page:nth-of-type(3)::after {
  background-image:url("../img/img-3-small.png")
}

.page-container .single-page:nth-of-type(3)::before {
  content:'img/img-3-small.png'
}

.page-container .single-page:nth-of-type(4) {
  top:75vh
}

.page-container .single-page:nth-of-type(4)::after {
  background-image:url("../img/img-4-small.jpg")
}

.page-container .single-page:nth-of-type(4)::before {
  content:'img/img-4-small.jpg'
}

.page-container .single-page.is-loaded {
/* move items in the viewport when background images have been loaded */
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0)
}

.page-container .single-page.is-full-width {
  /* selected item */
  top: 0;
  height: auto;
  z-index: 1;
  cursor: auto;
  -webkit-transition: z-index 0s 0s, top 0.4s 0s;
  -moz-transition: z-index 0s 0s, top 0.4s 0s;
  -ms-transition: z-index 0s 0s, top 0.4s 0s;
  -o-transition: z-index 0s 0s, top 0.4s 0s;
  transition: z-index 0s 0s, top 0.4s 0s;
}

.page-container .single-page.is-full-width::after {
  height:100vh;
}


.page-title {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 12.5vh;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}


.is-full-width .page-title {
  top: 50vh;
  -webkit-transition: opacity 0s, top 0.4s;
  -moz-transition: opacity 0s, top 0.4s;
  -ms-transition: opacity 0s, top 0.4s;
  -o-transition: opacity 0s, top 0.4s;
  transition: opacity 0s, top 0.4s;
}

.page-title > * {
  text-shadow:0 1px 4px rgba(0,0,0,0.2);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}