div#container{
    width: 1290px;
    height: 900px;
    margin: 20px auto;
}

div#top div#logo{
    width: 166px;
	height: 70px;
	background-color: #ffffff;
    background: url(../img/logo.png) no-repeat;
    float: left;
    border: 1px solid #f0f0f0
}

div#top div#header{
    width: 1114px;
	height: 70px;
	background-color: #ffffff;
    float: left;
    border: 1px solid #f0f0f0;
}

div#top div#header h2{
	font-family: Avenir;
	font-size: 14px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	color: #000000;
    margin-top: 30px;
    margin-left: 25px;
}

div#main div#nav{
    width: 166px;
	height: 800px;
	background-color: #ffffff;
    float:left;
    border: 1px solid #f0f0f0;
}

div#main div#nav li.nav-title{
    width: 100px;
    opacity: 0.5;
	font-family: Avenir;
	font-size: 10px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	color: #6d6f72;
    margin: 30px 16px;
}

div#main div#nav li.nav-subtitle{
    width: 100px;
	height: 19px;
	font-family: Avenir;
	font-size: 14px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	color: #000000;
    margin: 16px
}

div#main div#nav li.active{
    color: #d02139;
}

div#main div#nav li.nav-subtitle:hover{
    color: #d02139;
    cursor: pointer
}

div#main div#nav li.nav-subtitle:active{
    color: #d02139;
}

div#main div#content{
    width: 1114px;
	height: 800px;
	background-color: #ECEFF4;
    float:left;
    border: 1px solid #f0f0f0;
}


div#main div#content div#list{
	width: 500px;
	height: 224px;
	border-radius: 3px;
	background-color: #ffffff;
    float: left;
    margin: 32px 24px;
} 

div#main div#content div#list input{
    width: 137px;
	height: 24px;
	background-color: #f6f8f8;
    font-family: Avenir;
    font-weight: bold;
    float: left;
    margin-top: 11px;
    border: none;
    text-transform: uppercase;  
    padding-left: 10px
}

div#main div#content div#list input#button{
    width: 80px;
    height: 26px;
    margin-top: 11px;
    font-family: Avenir;
    font-weight: bold;
    color: #fff;
    background-color: #d02139;
    border:none;
    box-shadow: none;
    margin-left: 20px;
    cursor: pointer;
}

div#main div#content div#list input:focus{
    outline:none;
    background-color: #CED0D4;
}

div#main div#content div#list input#button:focus{
    outline: none;
}


div#main div#content div#list hr{
    width: 466px;
    border: solid 1px #eaecec;
    margin: 0 auto
}

div#main div#content div#list h5{
    font-family: Avenir;
	font-size: 12px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	color: #000000;
    margin-left: 16px;
    margin-top: 11px;
}

div#main div#content div#list div#list-container{
    width: 480px;
    height: 150px;
    column-fill: auto;
    -webkit-column-fill: auto;
    -moz-column-fill: auto;
    column-width: 105px;
    -webkit-column-width: 105px;
    -moz-column-width: 105px;
    margin-top: 10px;
}

div#main div#content div#list div#list-container ul#word-list li{
    width: 130px;
    font-family: Avenir;
	font-size: 12px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	color: #808285;
    margin-left: 16px;
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase
}

div#main div#content div#list div#list-container ul#word-list li:hover{
    color: #d02139;
}

div#main div#content div#list div#list-container ul#word-list li > span:hover{
    color: #000;
}

div#main div#content div#stats{
	width: 517px;
	height: 224px;
	border-radius: 3px;
    float: left;
    margin: 32px 24px
} 

div#main div#content div#stats div.stats{
    width: 246px;
	height: 100px;
	border-radius: 3px;
	background-color: #ffffff;
    float: left;
}

div#main div#content div#stats div.stats img{
    margin-left: 16px;
    margin-right: 8px
}

div#main div#content div#stats div.stats p.data{
    font-family: Avenir;
	font-size: 18px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	color: #000000;
}

div#main div#content div#stats div.stats p.accuracy{
    margin-left: 16px;
}

div#main div#content div#stats div.stats p.extra-data{
    font-family: Avenir;
	font-size: 12px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	color: #808285;
    margin-left: 16px;
    margin-top: 5px;
}

div#main div#content div#stats div.margin-right{
    margin-right: 24px;
}

div#main div#content div#stats div.margin-top{
    margin-top: 24px;
}

div#main div#content div#tracking{
    width: 1066px;
	height: 480px;
	border-radius: 3px;
	background-color: #ffffff;
    clear: both;
    margin: 24px;
}

div#main div#content div#tracking p#current, p#next {
    font-family: Avenir;
	font-size: 12px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	color: #000;
    width: 250px;
    text-align: right;
    margin-left: 800px;
    padding-top: 16px;
}

div#main div#content div#tracking p#current span#current-word{
    color: #d02139;
}

div#main div#content div#tracking p#next span#next-word{
    color: #70C8BE;
}

div#main div#content div#tracking p#larger-current-word{
    font-family: Avenir;
	font-size: 25px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	color: #000;
    text-align: center;
    margin: 20px auto 30px;
}

div#main div#content div#tracking div#real-time{
    width: 500px;
    height: 72px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 20px auto 20px;
}

div#main div#content div#tracking div#real-time div.box{
    display: inline-block;
    background-color: #F6F8F8;
    border: 1px solid #ECEFF4;
    width: 50px;
    height: 50px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-right: 2px;
    position: relative
}


div#main div#content div#tracking div#letterboard table{
    font-family: Avenir;
    font-size: 13px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
    width: 300px;
    margin: 0 auto;
    color: #808285
}

div#main div#content div#tracking div#letterboard table td{
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 45px;
    background-color: #F6F8F8;
    border: 1px solid #ECEFF4
}

div#main div#content div#tracking p#match-status{
    font-family: Avenir;
	font-size: 12px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	color: #000;
    width: 250px;
    text-align: right;
    margin-left: 800px;
    padding-top: 16px;
}

div#main div#content h4.subtitle{
    font-family: Avenir;
	font-size: 14px;
	font-weight: 900;
	font-style: normal;
	font-stretch: normal;
	color: #000000;
    margin: 16px;
}

.float-left{
    float:left
}
